* {
    margin: 0;
    padding: 0;
}

.side {
    display: grid;
    grid-template-rows: 2fr 100px 1fr;
    grid-template-columns: 3;
}

.header-container {
    display: flex;
    grid-area: 1 / 1 / 2 / 2;
}
ul li {
    display: inline-block;
}

.writing {
    width: 100px;
}